<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{./layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Add Post</title>
</head>
<body>
<div layout:fragment="content">
    <section class="my-5">
        <div class="container">
            <h1 class="mb-5">Add New Post</h1>
            <form action="#" th:action="@{/dashboard/post/save-post}"
                  th:object="${post}"
                  method="POST">
                <div class="form-group">
                    <label for="postTitle">Post Title</label>
                    <input type="text" th:field="*{title}" class="form-control" id="postTitle" placeholder="Title" required>
                </div>
                <div class="form-group">
                    <label for="postContent">Post Content</label>
                    <textarea class="form-control" th:field="*{content}" id="postContent" rows="6" required></textarea>
                </div>
                <div class="form-group">
                    <label for="postStatus">Post Status</label>
                    <select class="form-control" th:field="*{status}" id="postStatus" required>
                        <option value="draft">Draft</option>
                        <option value="unpublished">Unpublished</option>
                        <option value="published">Published</option>
                    </select>
                </div>
                <div class="mt-5">
                    <button type="submit" class="btn btn-primary">Add Post</button>
                    <button type="button" class="btn btn-secondary" onclick="history.back()">Cancel</button>
                </div>
            </form>

        </div>
    </section>
</div>

</body>
</html>